@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao {
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}


@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}for ([inicialização]; [condição]; [incremento]) {
    declaração 

    <div class="conteudo">
    <div class="botoes">
        <button class="botao ativo">Cursos na Alura</button>
        <button class="botao">Criar projetos em JavaScript</button>
        <button class="botao">Criar um portfolio</button>
        <button class="botao">Atualizar meu currículo</button>
    </div>
    <div class="abas-textos">
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Estudar 4 cursos na Alura</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Criar 5 projetos em JavaScript</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Criar um portfolio com os meus 3 melhores projetos</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Atualizar meu currículo com os certificados da Alura</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
    </div>
</div>


abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

<div class="conteudo">
    <div class="botoes">
        <button class="botao ativo">Cursos na Alura</button>
        <button class="botao">Criar projetos em Javascript</button>
        <button class="botao">Criar um portfolio</button>
        <button class="botao">Atualizar meu currículo</button>
    </div>
    <div class="abas-textos">
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Estudar 4 cursos na Alura</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Criar 5 projetos em Javascript</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Criar um portfolio com os meus 3 melhores projetos</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
        <div class="aba-conteudo">
            <h3 class="aba-conteudo-titulo-principal">Atualizar meu curriculo com os certificados da Alura</h3>
            <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
        </div>
    </div>
</div>


abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}.
;
}.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

<div class="aba-conteudo ativo">1</div>
<div class="aba-conteudo">2</div>
<div class="aba-conteudo">3</div>

.aba-conteudo{
    width: 100px;
    height: 100px;
    background: #b5b;
    margin: 10px;
  }
  
  .ativo{
    display: block;
  }

  <div class="aba-conteudo">
  <h3 class="aba-conteudo-titulo-principal">Boas vindas</h3>
  <h4 class="aba-conteudo-titulo-secundario">Livros, filmes, músicas e arte</h4>
</div>
